.App-header {
  padding: 20px;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 94%);
  margin-bottom: 10px;
}

.App-header a {
  
  font-weight: bold;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 10px;
  background-color: gold;

}
.App-header a:hover {
  text-decoration: none;
  background-color: yellow;

}
.add-expense {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.add-expense .table-header {
  background-color: #dee;
}

.fixed-footer {
  position: fixed;
  /* left: 0; */
  bottom: 10px;
  width: 80%;    
  text-align: center;
}
